@{
    ViewData["Title"] = "Öğrenci Yönetim";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="text-center">
    <h3>Öğrenci Yönetim Ana Sayfa</h3>
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <table>
                <tr>
                    <td style="background-color:#7db1a2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Ogrenci Sayfası" asp-action="Listele">Öğrenci Liste</a>
                    </td>
                    <td style="background-color:#7db1a2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Ogrenci Sayfası" asp-action="Yeni">Öğrenci Yeni</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>