@{
    ViewData["Title"] = "Karsılama Sayfası";
}

<div class="text-center">
    <font color="#ffffff"><h1 class="display-4">Okul İdare Ana Sayfası</h1></font>
</div>


<body>
    <center>
        <img src="~/image/logo.png" alt="HTML logo" style="width:150px;height:150px;" />
    </center>
</body>